.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 50px auto;
  position: relative;
  width: 484px;
  text-align: center;
  border-radius: 32px;
  background: #ffffff;
}

.session-form-header {
  display: block;
  height: 30%;
}

.session-form-header-text {
  font-size: 36px;
  padding: 15px;
  margin: auto auto 20px auto;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.session-form-errors-list {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 15px;
  margin: auto;
  color: #F55845;
}

.session-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.session-form > label {
  margin: 10px 5px 10px 5px;
}

.session-form-inputs {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 50%;
  min-height: 48px;
  box-sizing: border-box;
  font-size: 20px;
  border-style: none;
  border-radius: 68px;
  background: #ffffff;
  box-shadow: inset 11px 11px 22px #f0f0f0,
            inset -11px -11px 22px #ffffff;
}

.session-form-button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.session-form-divider {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  padding: 15px auto 15px auto;
}

.session-form-button {
  text-decoration: none;
  width: 50%;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  border-style: none;
  border-radius: 68px;
  background: #ffffff;
  box-shadow:  8px 8px 16px #dbdbdb,
              -8px -8px 16px #ffffff;
}

.session-form-button:active {
  border-radius: 68px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  8px 8px 16px #dbdbdb,
              -8px -8px 16px #ffffff;
}

.button-main {
  color: #F55845;
}


.session-form-link {
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 200px;
  padding: 15px;
  margin: 10px auto 10px auto;
  color: black;
}

.session-form-link:hover {
  text-decoration: underline;
}

.session-form-logo {
  height: 64px;
  width: 64px;
  margin: auto;
  padding: 10px 0 20px 0;
}

.close-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  margin: 5px 5px 5px auto;
  transition: all 1s;
  margin-top: 20px;
  margin-right: 20px;
}

.close-button:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 100%;
}

.close-button-icon {
  color: gray;
}