

.content-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1.5s;
}

.content-card-image:hover {
  transform: scale(1.05);
  cursor: zoom-in;
}

.content-card-save-button {
  position: ab;
  top: 60px;
  left: 145px;
  padding: 7px 5px 7px 5px;
}

.content-show-card-container {
  max-width: 2050px;
  max-height: 100%;
  min-height: 400px;
  margin: 50px 50px 50px 50px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #fffefe);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.content-show-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}

.content-show-image-container {
  width: 30%;
}

.content-show-image {
  width: 100%;
  max-height: auto;
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 2s;
}

.content-show-image:hover {
  transform: scale(1.05);
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.content-card-right-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
}


.content-show-card-text-container {
  font-size: 24px;
  font-weight: 600;
  margin-left: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-show-card-arrow-close {
  color: gray;
  padding: 15px;
  transition: all 0.5s;
  border-radius: 50px;
}

.content-show-card-arrow-close:hover {
  background-color: gray;
  color: white;
}

.content-show-card-text-container h3 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}

.content-show-card-text-container p {
  font-weight: 400;
}

.content-card-save-button-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  top: -4%;
  right: 26%;
}

.save-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.save-button-container:hover .save-button-dropdown {
  box-shadow: -2px 1px 5px rgba(32, 33, 36, 0.28);
  border-color: rgba(223,225,229,0);
}


.save-button-container:hover .save-button-button {
  box-shadow: 0 1px 5px rgba(32, 33, 36, 0.28);
  border-color: rgba(223,225,229,0);
}

.save-button-button {
  padding: 18px 24px 18px 18px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  border: none;
  color: #F55845;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid lightgray;
  border-left: none;
}

.save-button-button:hover {
    box-shadow: 0 1px 5px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}

.save-button-button:active {
    box-shadow: 0 1px 5px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}

.save-button-dropdown {
  padding: 18px 18px 18px 24px;
  border: none;
  color: #14613B;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0px;
  background: #ffffff;
  border: 1px solid lightgray;
  border-right: none;
}

.save-button-dropdown:hover {
    box-shadow: -2px 1px 5px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}

.save-button-dropdown:active {
    box-shadow: -2px 1px 5px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}

.dropdown-list-icon {
  padding-left: 10px;
  color: gray;
}

.save-button-true {
  background-color: #14613B;
  color: white;
  width: 230px;
  border-radius: 50px;
  box-shadow: none;
  margin-right: 15px;
}

.save-button-true > svg {
  padding-left: 20px;
  color: white;
}

.save-button-container-true {
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 0px;
}


.save-button-dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 10;
}

.drop-down-list-container {
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: white;
}

.content-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.dropdown-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  box-sizing: border-box;
  transition: all 0.5s;
}

.dropdown-list-text {
  padding: 16px 0 16px 18px;
}

.dropdown-list-item > button.dropdown-list-save-button  {
  display: none;
}

.dropdown-list-item:hover {
  background-color: lightgray;
}

.dropdown-list-save-button {
  font-size: 14px;
  font-weight: 700;
  color: #F55845;
}

.dropdown-list-item:hover > button {
  display: block;
  border: none;
}

.profile-page-avatar.card-show-profile-avatar {
  width: 45px;
  height: 45px;
  font-size: 22px;
  margin: 20px 0;
}

.all-boards-message {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex-wrap: wrap;
  max-width: 200px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px 0 20px 25px;
}

.all-boards-message-span {
  padding-top: 15px;
  font-weight: 700;
}

.follow-container {
  display: flex;
  flex-direction: column;
}

.follow-username-avatar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
}

.username-profile-link-container {
  margin: auto auto auto 30px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.username-profile-link {
  color: black;
  transition: all 0.5s;
}

.username-profile-link:hover {
  color: black;
  text-decoration: underline;
}

.follow-header-text {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}

.main-page-pin-index {
  width: 95%;
  margin: 2% auto;
}

.plus-icon-outer-container.main {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.plus-icon-outer-container.main.true {
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
}

.profile-add-icon.main {
  box-shadow: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
}

.board-index-component.today-page {
  margin-top: 25px;
}

.edit-board-container.Create {
  display: flex;
  flex-direction: column;
  background-color: white;
}