.content-card {
  border-radius: 16px;
  width: 250px;
}
.content-card-image {
  transition: all 1.5s;
  border-radius: 16px;
}

.content-card-image:hover {
  transform: scale(1.05);
  cursor: zoom-in;
}

.content-card-save-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  justify-content: flex-start;
}