.profile-page-avatar {
    border-radius: 100px;
    margin: 30px auto 50px auto;
    font-size: 30px;
    font-weight: 700;
    color: white;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-avatar-image-preview {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  border: none;
  object-fit: cover;
}

.edit-user-button-container {
  display: flex;
  flex-direction: row;
  width: 104%;
  justify-content: flex-end;
  margin: 10px auto 0px auto;
  border-radius: 60px;
  box-sizing: border-box;
}

.profile-edit-button {
  border-radius: 60px;
  padding: 10px 10px 10px 10px ;
  transition: all 0.5s;
  margin-right: 30px;
  color: gray;
}

.profile-edit-button:hover {
  background-color: gray;
  color: white;
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 50px auto 50px auto;
  box-sizing: content-box;
  width: 75%;
  height: fit-content;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.profile-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-page-username {
  font-size: 24px;
  font-weight: 700;
}

.profile-page-navlink-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin: 50px auto 50px auto;
}

.profile-page-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 25px;
  border-radius: 100px;
  transition: all 0.3s;
  border-radius: 131px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.profile-page-link:hover {
  background-color: #6E9885;
  color: white;
}

.profile-page-link.profile-page-active-link {
  background-color: #6E9885;
  color: white;
  text-align: center;
  box-shadow: none;
}

.board-index-component {
  display: grid;
  gap: 16px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: none;
  justify-content: center;
}

.board-card-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px 16px 8px;
  align-items: center;
  transition: all 2s;
}

.board-card-container:hover {
  cursor: zoom-in;
  transform: scale(1.05);
}

.board-image-container {
  width: 236px;
  height: 157px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}

.board-only-image {
  width: 236px;
  height: 157px;
  object-fit: cover;
  border-radius: 16px;
}

.board-main-image {
  height: 158px;
  width: 157px;
  padding-right: 1px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.board-title-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.board-second-images {
  height: 100%;
  width: 80px;
}

.board-second-image-top {
  border-top-right-radius: 16px;
}

.board-second-image-top-container {
  padding-bottom: 1px;
}

.board-second-image-bottom {
  border-bottom-right-radius: 16px;
}


.board-second-image-top-container {
  height: 50%;
  width: auto;
}

.board-second-image-bottom-container {
  height: 50%;
  width: auto;
}

.board-second-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.board-title-image {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-right: 2px;
}

.board-title-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3BA8D;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.board-card-text-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
}

.board-title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.pin-count {
  font-size: 14px;
  color: black;
}

.profile-page-pin-index {
  column-count: 3;
  column-gap: 16px;
}

.content-card {
  display: inline-block;
  width: 100%;
}

.user-description-container {
  margin: 10px auto 0 auto;
}

.board-pin-create-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 50px;
  width: 100%;
}

.plus-icon-outer-container {
  display: flex;
  flex-direction: row;
}

.plus-icon-outer-container.true {
  border: 0.5px solid gray;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
}

.plus-icon-container-true {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdown-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 15px;
  padding-bottom: 4px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dropdown-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.dropdown-list > a > li {
  padding: 8px 40% 4px 4px;
  width: 180px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.dropdown-list > a > li:hover {
  background-color: gray;
  color: white;
}

.profile-add-icon {
  padding: 10px 15px 10px 15px;
  justify-content: flex-start;
  color: gray;
  transition: all 0.5s;
  border-radius: 50%;
  background: #ffffff;
  box-shadow:  5px 5px 5px #e0e0e0,
             -5px -5px 5px #ffffff;
}

.profile-add-icon:hover {
  cursor: pointer;
  background-color: #6E9885;
  color: white;
  box-shadow: none;
  transform: rotate(0.5turn);
}

.profile-add-icon:focus-within {
  cursor: pointer;
  background-color: #6E9885;
  color: white;
  box-shadow: none;
  transform: rotate(0.5turn);
}

.profile-add-icon-true {
  background-color: #6E9885;
  color: white;
  transform: rotate(0.5turn);
}

.board-show-page {
  width: 80%;
  padding: 50px;
  margin: 50px auto auto auto;
  border-radius: 59px;
  background: #ffffff;
  box-shadow:  5px 5px 5px #e0e0e0,
             -5px -5px 5px #ffffff;
}

.board-show-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 25px 25px 40px 25px;
}

.edit-board-container.Edit {
  margin: 30px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  width: 80%;
  height: fit-content;
}


@media screen and (min-width:0 ){
  .profile-page-pin-index {
    column-count: 1;
  }
}

@media screen and (min-width:500px ){
  .profile-page-pin-index {
    column-count: 2;
  }
}

@media screen and (min-width:750px ){
  .profile-page-pin-index {
    column-count: 3;
  }
}

@media screen and (min-width:1000px ){
  .profile-page-pin-index {
    column-count: 4;
  }
}

@media screen and (min-width:1250px ){
  .profile-page-pin-index {
    column-count: 5;
  }
}

@media screen and (min-width:1500px ){
  .profile-page-pin-index {
    column-count: 6;
  }
}

@media screen and (min-width:1750px ){
  .profile-page-pin-index {
    column-count: 7;
  }
}
