.about-page-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    height: 550px;
    width: 450px;
    align-items: center;
    background-color: white;
    border-radius: 32px;
}

.mooboo-header-text {
  color: #6E9885;
  font-size: 34px;
  font-weight: 700;
}
.about-page-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    height: 550px;
    width: 450px;
    background-color: white;
    border-radius: 32px;
}

.fullstack {
  font-size: 24px;
  font-weight: 500;
}

.pinterest-span {
  width: 90px;
  height: auto;
}

.pinterest {
  width: 90px;
  height: auto;
}

.clone {
  font-size: 24px;
}

.built-with {
  font-size: 24px;
}

.build-logos {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.social-link-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;

}

.github-link, .linkedin-link {
  color: #14613B;
  padding: 10px;
  margin: 5px;
  transition: all 1s;
  border-radius: 32px;
}

.github-link:hover, .linkedin-link:hover {
  background-color: lightgray;
  cursor: pointer;
}