html {
  font-size: 16px;
}

body {
  /* background-color: rgba(127, 255, 212, 0.24); */
  background-image: linear-gradient(180deg, rgba(127, 255, 212, 0.24), rgba(255, 255, 255, 0) );
  height: 100%;

}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: zipline-half-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 601px) {
  .header {
    font-size: 120px;
    margin: 100px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 60px;
    margin: 50px 0 0 0;
  }
}

.construction-span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  margin: 50px 0 0 0;
  font-size: 2rem;
  font-family: zipline-lined,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  width: 100%;
  height: 33%;
}

.fa-4x {
  color: rgb(39, 179, 189);
}